.modal-content {
    width:300px;
    height:200px;
    border:2px solid #eef2f7;
}

#popup {
    position:relative;
    height:145px;
    padding:20 20 20 20px;
}

#popupTitle {
    font-size: 2em;
    margin-top:3px;
    padding-bottom:20px;
    border-bottom: 2px solid #eef2f7;
}

#popupText {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    font-size: 1em;
    margin-left:20px;
}

#popupFooter {
    text-align: center;
    width:48%;
    height:50px;
    border-radius: 0;
    float:left;
    margin-top:20px;
}

.cancelbtn {
    background:white;
    border: 3px solid #eef2f7;
}

.cancelbtn:hover, .cancelbtn:focus {
    background:rgb(131, 131, 131);
    color:white;
    border:3px solid rgb(131, 131, 131);
}

#submitbtn {
    background:rgb(255, 40, 40);
    color:white;
    border: 3px solid rgb(255, 40, 40);
    margin-left:10px;
}

.submitbtn:hover, .submitbtn:focus {
    background:red;
    border:3px solid red;
    font-weight: bold;
}