form {
    background-color: white;
    width: 1000px;
    font-size: 1em;
    height: auto;
    margin-bottom: 50px;
    border: 1px solid #bdc2c6;
}

form p {
    margin: 20px;
}

/* input, select {
  width: 390px;
  height: 30px;
  display: flex;
  margin: 10px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

#containerLinks {
    width: 40%;
    float: left;
    margin-bottom: 35px;
}

#containerRechts {
    width: 40%;
    float: left;
    margin: 0 auto 35px 30px;
}

#containerLinks p:first-of-type {
    width: 100%;
}

.zend {
   text-align: right;
   margin-right: 62px;
   height: 50px;
   width: 100%;
   float: right;
}

.btn-verwijderen {
    background-color: #f75151;
    border: 1px solid #f90000;
}

.btn-opslaan {
    background-color: #a9ff89;
    border: 1px solid #00FF00;
}

.btn-opslaan:hover {
    color: white;
    background-color: #00FF00;
}

.btn-verwijderen:hover {
    color: white;
    background-color: #f90000;
}
