.form-container{
  background-color: white;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label{
    float: left;
    clear: left;
    width: 48%;
    text-align: right;
    margin-right: 10px;
}

input {
    width: 48%;
    margin left: 1%;
    margin-top: 1%;
}

.radioButton {
    display: inline-block;
    margin-bottom: 10px;
}

.buttonsFromForm {
    margin-left: 150px;
}

#cancelbutton {
    margin-left: 200px;
    margin-top: 10px;
}

#resetButton {
    margin-left: 50px;
}