/*CSS File For login webpage*/
#login{
    width: 350px;
    height: 250px;
    border: 1px solid #bdc2c6;
    font-size: 14px;
    padding: 30px;
    background:#ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-field {
    width: 100%;
    margin: 10px 0;
}

#boxheader {
    display: inline-block;
    color: blue;
    size: 2em;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

#combiErr {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.btn-inloggen{
  float: right;
  margin-top: 20px;
}
