.header-container h2 {
  display: inline-block;
}

.btn-aanmaken{
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
}

.btn-aanmaken i:hover{
  color: white;
}

.wrapper a {
  color: black;
  padding: 10px;
}

table a:hover {
  color: blue;
}

.trash:hover {
  color: red;
}

table td + td + td + td + td {
  text-align: right;
}

.headerUserTable{
  font-size: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

i #text{
  font-family: 'Roboto', sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  height:200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width:30px; /* increase area for easy pointing */
  height:30px;
  text-align:center; /* align symbol with elements on right-side of container */
  line-height: 0%; /* shift center of symbol to center of pointer */
  vertical-align: center;
  margin-top:13px; /* shift symbol down, keep area for pointer in place */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}