* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f5f9;
    margin: 0;
}

p {
    display: block;
}

/*CSS for nav*/
.logo-container {
    width: 200px;
    height: 50px;
    margin: 25px 60px 10px 0;
    display: flex;
}

.logo {
    height: 30px;
    width: 30px;
    display: flex;
    margin-top: 10px;
    padding-right: 5px;
}

a {
    font-size: 1em;
    text-decoration: none;
    padding: 40px 20px;
    color: blue;
}

.menu a {
    text-shadow: 1.5px 1.5px 2px gray;
}

.menu a:hover:not(.active) {
    color: orangered;
}

.menu .active  {
    color: red;
    border-bottom: 2px solid red;
}

.menu-container {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #bdc2c6;
    margin-bottom: 50px;
}

.menu{
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.uitloggen {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.uitloggen a{
  padding-right: 0;
}

.links {
  display: flex;
  justify-content: flex-start;
}

.page {
    display: flex;
    padding: 0;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 1002px;
    margin-bottom: 50px;
    font-size: 1em;
    border: 1px solid #bdc2c6;
    box-sizing: border-box;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    padding: 1.2em;
}

tr:nth-child(even) {
    background: #fafafa
}

tr:nth-child(odd) {
    background: #ffffff
}

td{
    margin: 0;
    padding: 1.2em;
}

.headerUserTable {
    font-weight: normal;
}

h1 {
    display: inline-block;
    color: blue;
    size: 2em;
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
}

h2 {
  padding: 30px;
  margin: 0;
  font-size: 1.2em;
}

.header-container{
  width: 1000px;
  background-color: white;
  border: 1px solid #bdc2c6;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 1002px;
  flex-direction: column;
  display: flex;
  margin-bottom: 50px;
}

input, select {
    border: 1.5px solid #d7d7d7;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    margin: 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn {
  border-radius: 2px;
  padding: 10px;
  color: black;
  font-size: 1em;
  margin: 3px;
  background-color: #e0effc;
  border: 1px solid #73a2ef;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #73a2ef;
}

.btn-verwijderen {
    background-color: #f75151;
    border: 1px solid #f90000;
}

.btn-verwijderen:hover {
    background-color: #f90000;
}

.error {
    width: 65%;
    height: auto;
    color: red;
    font-size: 0.7em;
    display: block;
    text-align: right;
    float: right;
    font-weight: 500;
}

label {
  font-weight: bold;
}
