/*CSS for landingpages*/

#container {
    border: 2px;
    border-style:groove;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 350px;
    width: 90%;
    margin: auto;
    background-color: white;
}

h3 {
    border-bottom: 2px groove;
    padding-bottom: 20px;
    font-family: sans-serif;
    text-indent: 20px;
}


