/*CSS File For login webpage*/
#login{
    width: 400px;
    height: 320px;
    border: 1px solid #bdc2c6;
    font-size: 1em;
    padding: 50px 90px;
    background:#ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-field {
    width: 100%;
    margin: 10px 0;
}

#combiErr {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.btn-inloggen{
    float: right;
    margin-top: 20px;
    height: auto;
    width: auto;
}
