body{
    font-family: sans-serif;
    background: #f0f5f9;
}

/* Verbergen van pencil en trashcan in userListOverview */
i {
  visibility: hidden;
}

p {
    display: block;
}

/*CSS for nav*/

.logo {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 40px;
    font-family: sans-serif;
    color: blue;
}

a:hover:not(.active) {
    color: orangered;
}

.active {
    color: red;
}

.uitloggen {
/*    margin-left: 35%;*/
}

#navHeader {
    margin-left: 10px;
    display: flex;
}

/* Check met Niek of onderstaande weg kan */
table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    padding: 1.2em;
}

tr:nth-child(even) {
    background: #fafafa
}

tr:nth-child(odd) {
    background: #ffffff
}

td{
    margin: 0;
    padding: 1.2em;
}

.headerUserTable {
    font-weight: normal;
}
