div {
    margin-left: 50px;
}

label {
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin: 1%;
}

input {
    margin left: 1%;
    margin-top: 1%;
}

.radioButton {
    display: inline-block;
    margin-bottom: 10px;
}

.buttonsFromForm {
    margin-left: 150px;
}

#cancelbutton {
    margin-left: 200px;
    margin-top: 10px;
}

#resetButton {
    margin-left: 50px;
}

span {
    color: #FF0000;
}
