html {
  height: 100%;
}

body{
    font-family: sans-serif;
    background: #f0f5f9;
    margin: 0;
}

p {
    display: block;
}

/*CSS for nav*/

.logo {
    width: 150px;
    height: 100px;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 40px 20px;
    font-family: sans-serif;
    color: blue;
}

a:hover:not(.active) {
    color: orangered;
}

.active  {
    color: red;
}

.error {
    color: red;
    border-bottom: 2px solid red;
}

.menu-container {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #bdc2c6;
}

.menu{
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.uitloggen {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.links {
  display: flex;
  justify-content: flex-start;
}

.page {
    display: flex;
    justify-content: center;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 1000px;
    margin-top: 2%;
    margin-bottom: 10%;
    font-size: 12px;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    padding: 1.2em;
}

tr:nth-child(even) {
    background: #fafafa
}

tr:nth-child(odd) {
    background: #ffffff
}

td{
    margin: 0;
    padding: 1.2em;
}

.headerUserTable {
    font-weight: normal;
}
