div {
    width: 50%;
    margin-left: 10%;
}

#cancelbutton {
    margin-left: 20%;
}

label{
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin: 1%;
}

.radioButton {
    display: inline-block;   
}