.header-container h3 {
  display: inline-block;
  width: 700px;
}

.btn-aanmaken{
  float: right;
  padding: 10px;
  display: inline-block;
}

.btn-aanmaken i:hover{
  color: white;
}

.wrapper a {
  color: black;
  padding: 10px;
}

table a:hover {
  color: blue;
}

.trash:hover {
  color: red;
}

table td + td + td + td + td {
  text-align: right;
}

.headerUserTable{
  font-size: 20px;
}

i #text{
  font-family: 'Roboto', sans-serif;
}
