.btn{
  float: right;
  padding: 10px;
  text-align: right;
}

.headerUserTable{
  font-size: 20px;
}

i #text{
  font-family: sans-serif;
}

a#potlood {
    font-size: 1.0rem;
    text-decoration: none;
    padding: 0;
    color: black;
}

a#potlood:hover {
    color: orangered;
}

a#prullenbak {
    font-size: 1.0rem;
    text-decoration: none;
    padding: 0;
    color: black;
}

a#prullenbak:hover {
    color: orangered;
}
