.btn{
  float: right;
  padding: 10px;
  text-align: right;
}

.headerUserTable{
  font-size: 20px;
}

i #text{
  font-family: sans-serif;
}

.iconPencil {
  padding: 30px;
}

/* .fa {
  width:30px;
  height:10px;
} */

a.iconPencil:hover{
  color: red;
}

a {
  font-size: 1em;
  text-decoration: none;
  padding: 0;
  color: black;

}